<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>album18</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Senegal</string>
	</dict>
	<key>album17</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Czech Republic</string>
	</dict>
	<key>album16</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Danemark</string>
	</dict>
	<key>album15</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>China</string>
	</dict>
	<key>album14</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Great Britain</string>
	</dict>
	<key>album13</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Morocco</string>
	</dict>
	<key>album12</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Mexico</string>
	</dict>
	<key>album11</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Combodia</string>
	</dict>
	<key>album10</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Vietnam</string>
	</dict>
	<key>album9</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>France</string>
	</dict>
	<key>album8</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Spain</string>
	</dict>
	<key>album7</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Thailand</string>
	</dict>
	<key>album6</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Bolivia</string>
	</dict>
	<key>album5</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Chili</string>
	</dict>
	<key>album4</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Italy</string>
	</dict>
	<key>album3</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Hong Kong</string>
	</dict>
	<key>album2</key>
	<dict>
		<key>cardsCount</key>
		<integer>19</integer>
		<key>title</key>
		<string>Peru</string>
	</dict>
	<key>album1</key>
	<dict>
		<key>cardsCount</key>
		<integer>24</integer>
		<key>title</key>
		<string>Indonesia</string>
	</dict>
</dict>
</plist>
